.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__container {
  padding: 54px 18px 40px;
  width: 100%;
  min-height: 211px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
}

.advantages__title--main {
  margin: 0 0 11px 0;
  width: 284px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages__description--main-number {
  margin-bottom: 17px;
}

.advantages__description--main {
  width: 284px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages__features-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__features-item {
  padding: 16px 18px;
}

.advantages__title {
  margin-bottom: 16px;
}

.advantages__item-more {
  min-height: 165px;
  padding: 24px 18px;
  text-align: center;
  background-color: #eeeeee;
}
