.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__container {
  padding: 54px 18px 40px;
  width: 100%;
  min-height: 211px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
}

.advantages__title {
  margin: 0 0 16px;
  min-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__description {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__title--main {
  margin: 0 0 11px 0;
  width: 284px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages__description--main-number {
  margin-bottom: 17px;
}

.advantages__description--main {
  width: 284px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages__features-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__features-item {
  padding: 16px 18px;
  box-sizing: border-box;
}

.house-icon::before {
  content: url("../img/vector/house.svg");
  width: 75px;
  height: 72px;
  margin: auto;
}

.food-icon::before {
  content: url("../img/vector/food.svg");
  width: 73px;
  height: 70px;
  margin: auto;
}

.present-icon::before {
  content: url("../img/vector/present.svg");
  width: 64px;
  height: 76px;
  margin: auto;
}

.advantages__item-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 165px;
  padding: 24px 18px;
  text-align: center;
  background-color: #eeeeee;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item--forward,
  .advantages__item--reverse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item--reverse {
    flex-direction: row-reverse;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__size {
    width: 256px;
    box-sizing: border-box;
    min-height: 256px;
    flex-wrap: initial;
  }

  .advantages__features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 256px;
    min-height: 331px;
    box-sizing: border-box;
  }

  .advantages__description--main {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages__features-item {
    width: 400px;
    min-height: 330px;
    padding: 77px 115px 81px 115px;
  }

  .advantages__size {
    width: 400px;
    min-height: 256px;
    padding: 55px 86px 67px 85px;
  }

  .advantages__item--forward,
  .advantages__item--reverse {
    width: 1200px;
  }
}
