.description {
  padding: 32px 18px;
  width: 100%;
  min-height: 205px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.description--form {
  min-height: 198px;
}

.description--catalog {
  min-height: 188px;
}

@media (min-width: @tablet-width) {
  .description {
    padding: 47px 124px 55px;
    width: 100%;
    min-height: 206px;
  }
}

@media (min-width: @desktop-width) {
  .description {
    padding: 59px 358px 44px;
    width: 100%;
    min-height: 206px;
  }
}
