.description {
  padding: 32px 18px;
  width: 100%;
  min-height: 205px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
