.description {
  padding: 34px 30px 32px 26px;
  width: 100%;
  min-height: 205px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.description--media {
  padding: 36px 25px 13px 26px;
}

.description--form {
  position: relative;
  min-height: 198px;
  padding: 37px 30px 32px 26px;
}

.description--form::before {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgb(214, 214, 214);
}

.description--catalog {
  padding: 39px 20px 60px;
  min-height: 213px;
  justify-content: space-between;
}

.description__video-wrapper {
  position: relative;
  padding-top: 40px;
}

.description__video {
  max-width: 280px;
}

.description__video-button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.description__video-button::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 33px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

@media (min-width: @tablet-width) {
  .description {
    padding: 59px 60px 55px;
    width: 100%;
    min-height: 206px;
  }

  .description--main {
    padding: 50px 139px 53px;
  }

  .description--media {
    padding: 59px 60px 33px;
  }

  .description--catalog {
    padding: 68px 124px 80px;
    min-height: 247px;
  }

  .description__video-wrapper {
    padding-top: 89px;
  }

  .description__video {
    max-width: 648px;
    height: 500px;
    object-fit: none;
  }

  .description__video-button::before {
    top: 83px;
  }

  .description--form {
    padding: 66px 164px 80px;
  }

  .description--form::before {
    top: 428px;
    left: 215px;
    width: 338px;
    transform: rotate(90deg);
  }
}

@media (min-width: @desktop-width) {
  .description {
    padding: 100px 358px 88px;
    width: 100%;
    min-height: 287px;
  }

  .description--main {
    padding: 60px 353px 43px 347px;
    width: 100%;
    min-height: 206px;
  }

  .description--media {
    padding: 63px 358px 75px;
  }

  .description__video {
    max-width: 800px;
  }

  .description--form {
    justify-content: space-between;
    min-height: 280px;
    padding: 115px 380px 66px;
  }

  .description--form::before {
    top: 450px;
    left: 445px;
  }
}
