.feedback-wrapper {
  padding: 24px 20px 39px;
}

.feedback__title {
  margin-bottom: 20px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}

.feedback__label {
  text-align: start;
  margin-left: 10px;
}

.feedback__form-radio-input {
  padding-left: 16px;
  width: 280px;
  min-height: 58px;
  background-color: #f2f2f2;
  border: none;
}

.feedback__form-radio-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
