.header {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 56px;
  background-color: #ffffff;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__button {
  position: relative;
  top: 15px;
  left: 140px;
  width: 23px;
  height: 22px;
  background-image: url("../img/vector/burger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .header__logo {
    z-index: 3;
  }

  .header__button {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .header {
    margin: 0 auto;
  }

  .header__button {
    display: none;
  }
}
