.main {
  width: 320px;
  background-color: #ffffff;
}

.main__background {
  background-image: url("../img/back-mobile.jpg");
  width: 320px;
  min-height: 389px;
}

.main__logo {
  padding-top: 90px;
  margin: 0 auto;
  display: block;
}

.main__map iframe {
  border: none;
  display: block;
}

@media (min-width: @tablet-width) {
  .main {
    width: 100%;
  }

  .main__map iframe {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .main {
    width: 100%;
  }

  .main__map iframe {
    width: 100%;
  }
}
