.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 18px 49px;
}

.selection__link {
  width: 284px;
  min-height: 58px;
  text-decoration: none;
}

.selection__title {
  margin-bottom: 32px;
}

.selection__intro {
  margin-bottom: 32px;
}
