.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2px;
  padding: 43px 18px 49px;
}

.selection__link {
  width: 284px;
  min-height: 58px;
  text-decoration: none;
}

.selection__title {
  margin-bottom: 16px;
}

.selection__intro {
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .selection {
    padding: 61px 155px 58px;
    justify-content: space-between;
  }

  .selection__title {
    font-size: 30px;
    margin: 0 0 30px;
  }

  .selection__intro {
    margin-bottom: 38px;
  }

  .selection__link {
    width: 458px;
  }
}

@media (min-width: @desktop-width) {
  .selection {
    padding: 61px 371px 66px;
  }

  .selection__intro {
    margin-bottom: 44px;
  }
}
