.site-background {
  background-image: url("../img/form-background-mobile.jpg");
  width: 320px;
  min-height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
